$border: 1px solid black
$padding: 10px 2%

.project-page
  .project
    padding: 0 4%

    &__name

    &__wrapper
      display: flex
      flex-direction: row
      justify-content: space-between
      flex-wrap: wrap

      &__sprint-backlog
        border: $border
        max-width: 40%
        margin: 0 10px 0 0
        padding: $padding
        flex-grow: 1

        .sprint
          &__header
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center

            font-size: 19px

            &__complete
              font-size: 12px

      &__viewed-story
        border: $border
        margin: 0 0 0 10px
        padding: $padding
        max-width: 60%
        flex-grow: 3
      
      &__developers
        width: 100%
        margin: 30px 0

        &__header
          display: flex
          flex-direction: row

          &__title
            margin: 0 20px 0 0

          &__add
            width: 10%

        &__developer
          display: flex
          width: 45%
          flex-direction: row
          justify-content: space-between
          align-items: center
          margin: 10px 0

          &__name-email
            margin: 0 20px

      @media screen and (max-width: 768px)
        flex-direction: column

        &__sprint-backlog,
        &__viewed-story
          flex-grow: 1
          width: 100%
          max-width: unset
          margin: 0