@media screen and (min-width: 768px) {
    .banners {              
        display: flex;
        
        flex-wrap: wrap;
        align-items: flex-start;
        
        .banner:nth-child(1) {
            width: 50%;
            
            order: 1;
        }
        
        .banner:nth-child(2) {
            width: 25%;
            
            order: 2;
            
            .banner-title {
                padding: 3rem 5%;
            }
            
            .banner-text {
                display: none;
            }
        }
        
        .banner:nth-child(3) {                
            width: 50%;
            
            order: 1;
        }
        
        .banner:nth-child(4) {
            width: 25%;
            
            order: 2;
            
            .banner-title {
                padding: 3rem 5%;
            }
            
            .banner-text {
                display: none;
            }
        }
        
        .banner:nth-child(5) {
            width: 50%;
            
            order: 3;
        }
    }

    @supports (display: grid) {
        .banners {
            display: grid;
            height: 44.3rem;
            
            grid-template-columns: 25% 25% 50%;
            grid-template-rows: 27.08% 51.46% 23.08%;

            .banner {
                height: 100%;
                margin: 0;
                
                overflow: hidden;
            }

            .banner:nth-child(1) {
                width: 100%;

                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
            }

            .banner:nth-child(2) {
                width: 100%;

                grid-column: 1;
                grid-row: 3;
            }

            .banner:nth-child(3) {
                width: 100%;

                grid-column: 3;
                grid-row: 1;
            }

            .banner:nth-child(4) {
                width: 100%;

                grid-column: 2;
                grid-row: 3;
            }

            .banner:nth-child(5) {
                width: 100%;

                grid-column: 3;
                grid-row-start: 2;
                grid-row-end: 4;
            }
        }
    }
}